.JoinPage{

    background-color: rgb(27, 25, 25);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.JoinContainer{

    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.JoinContainer > img{

  width: 10vmax;

}


.JoinContainer > h1{

    color: white;
    font-size: 2.5vmax;  
    font-family: poppins;
    width: 30vmax;
    padding: 1vmax;
    border-bottom: 0.2vmax solid white;
    text-align: center;

  }

#joinInput{

    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    margin:2vmax;

}  

.joinbtn{

    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.5vmax;
   background-color: crimson;
   color: white;
   box-sizing: border-box;
   transition: all 0.2s;
   cursor: pointer;
}


.joinbtn:hover{

  background-color: rgb(236, 45, 83);

}